/* ------ GENERAL : TEXT ------ */

// headers

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  text-transform: uppercase;
  color: $dark-blue;
  font-weight: $font-weight--bold;
}

h1 {
  font-size: 6rem;
}


// text

p {
  font-size: 1.4rem;
  color: $medium-gray;
}

// links

a {
  font-family: $accent-font;
  font-size: 1.4rem;
  color: $dark-pink;
  text-decoration:none;

  &:hover {
    color:$dark-pink;
    outline:0;
  }

  &:focus {
    outline:0;
  }

  &:active {
    outline: 0;
  }
}



// 576px
@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

// 768px
@media (min-width: $sm-screen) {
} // end of sm-screen - 768px


// 992px
@media (min-width: $md-screen) {
  // text
  p {
    font-size: 1.6rem;
  }
} // end of md-screen - 992px


// 1200px
@media only screend and (min-width: $lg-screen) {
} // end of lg-screen - 1200px


// 1440px
@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
