/* ------ GENERAL : MAIN ------ */

//cglobal box-sizing
*,
*:after,
*:before {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
}

body {
  // background: red;
  color: $medium-gray;
  font-family: $body-font;
}

// clear
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
  max-width:100%;
  vertical-align:bottom;
}


input:focus {
  outline:0;
  border:1px solid $dark-pink;
}

// misc

::selection {
  background:$dark-pink;
  color: white;
  text-shadow:none;
}
::-webkit-selection {
  background:$dark-pink;
  color: white;
  text-shadow:none;
}
::-moz-selection {
  background:$dark-pink;
  color: white;
  text-shadow:none;
}
